<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/static/pints.css" media="all">

    <script src="/static/jquery-1.11.1.min.js"></script>

    <title>Pints</title>
  </head>

  <body>

    <div id="mobile-wrapper">

      <header id="mobile-header">
        <img id="logo" src="/img/pints_800x600.png">

        <h1>Pints</h1>

        <a id="nav-button" href="#mobile-nav"><img id="nav-image" src="/img/nav_black.png"></a>
      </header>

      <nav id="mobile-nav">
        <ul>
          <li><a href="index.html">Pints</a></li>
          <li><a href="#">...</a></li>
        </ul>
      </nav>

      <div id="mobile-content">
        {{ content }}
      </div>

    </div>

    <script>
      $("#nav-button").on("click", function(){
        $("#mobile-nav").toggle();
        return false;
      });
    </script>

  </body>

</html>

