
<!DOCTYPE html>

<html lang="de">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" / -->
        
        <link rel="stylesheet" href="/styles/leaflet.css" >

        <link rel="stylesheet" href="/styles/pints.css" media="all">

        <link rel="stylesheet" href="/styles/pub_list.css" media="all">

        <script src="/static/jquery-1.11.1.min.js"></script>

        <script src="/static/leaflet.js" ></script>
        
        <!-- script src="/static/jquery.tabs.js" ></script -->

        <script src="/static/pints.js"></script>

        <script>
          var url = document.referrer;
          console.log(url.indexOf("https://")); 
          if(url.indexOf("https://") == -1){
            window.location.href = 'https://richardtraindl.github.io/pints';
          }
        </script>

        <title>Pints</title>
    </head>

    <body>
        <div id="mobile-wrapper">
          <header id="mobile-header">
            <h1><a href="https://richardtraindl.github.io/pints">Pints</a></h1>
          </header>

          <div id="mobile-content">
            {{ content }}
          </div>
        </div>
    </body>

</html>
