<!DOCTYPE html>

<html lang="de">

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/static/pints.css" media="all">

    <script src="/static/jquery-1.11.1.min.js"></script>
    
    <script src="/static/pints.js"></script>

    <title>Pints</title>
  </head>

  <body>

    <div id="mobile-wrapper">

      <header id="mobile-header">
        <h1>Pints</h1>

        <a id="nav-button" href="#mobile-nav"><img id="nav-image" src="/img/nav_white.png"></a>
      </header>

      <nav id="mobile-nav">
        <ul>
          <li><a href="/pints/index.html">Pints</a></li>
          <li><a href="/pints/index.html">...</a></li>
        </ul>
      </nav>

      <div id="mobile-content">
        {{ content }}
      </div>

    </div>

    <script>
      $(document).ready(function(){

        $("#nav-button").on("click", function(){
          $("#mobile-nav").toggle();
          return false;
        });

      });
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHDmag3kq2zgu8LWZDReFKSTZjGDe1btM&callback=initMap"></script>

  </body>

</html>

