/* CSS for all width's */

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff');
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
  font-family: Helvetica, 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #395858;
}

body {
  background-color: White;
  height: auto;
}

#mobile-wrapper {
  margin: 0px auto;
  padding: 8px;
  min-width: 320px;
  max-width: 640px;
  width: 96%;
  border-radius: 6px;
  background-color: #FFE394;
}

#mobile-header {
  margin: 8px 0px;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  /* background-image: url('/img/pints01.png'); */
}

#mobile-header h1, #mobile-header h1 a {
  padding: 10px;
  text-align: center;
  font-size: 28px;
}

#mobile-content {
  margin: 8px 0px;
  background-color: #FFFFE8;
  border-radius: 0px 0px 6px 6px;
}

#mobile-nav, #mobile-nav ul {
  background-color: inherit;
}

#mobile-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #999;
}

#mobile-nav li {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 5px 15px 0px 5px;
  border: 1px solid #999;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  background-color: #ffffcc;
  border-radius: 8px 8px 0px 0px;
}

#mobile-nav li.selected {
  padding-bottom: 4px;
  margin-bottom: -1px;
  border: 1px solid #999;
  border-bottom: 2px solid #FFFFE8;
  background-color: inherit;
}

h1, h2 {
  padding: 10px 0px;
  text-align: center;
}

h1 a {
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

p {
  padding-bottom: 4px;
}

/* a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
} */

.gap {
  padding-bottom: 20px;
}

.small-gap {
  padding-bottom: 10px;
}

.msg * {
  color: Red;
  font-size: 18px;
  font-weight: bold;
}

#pub-list ul {
	padding: 0;
	/* margin: 9px; */
	list-style: none;
	border: 1px solid #a1a7ad;
	border-radius: 8px;
	font-size: 19px;
	font-weight: bold;
	box-shadow: 0 1px 0 #fff;
}

#pub-list ul li {
	background: #f7f7f7;
	border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #cacaca;
	padding: 5px 10px;
	line-height: 34px;
}

#pub-list ul li:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-color: #e5e5e5;
}

#pub-list ul li:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-width: 0;
}

/* Übersicht Liste */
#pub-list ul {
	overflow: hidden;
    -webkit-background-clip: padding;
}

#pub-list ul li {
	line-height: 50px;
	padding-left: 5px;
}

#pub-list ul li img {
	width: 50px;
	height: 50px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

/* Optionen Liste */
#optionen li input {
	height: 34px;
	width: 34px;
	margin: 0;
}
