/* CSS for all width's */

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff');
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
  font-family: Helvetica, 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #395858;
}

body {
  background-color: White;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 4px 4px 4px 4px;
  text-align: center;
  color: #333;
  background-color: #E6E6E6;
  background-image: linear-gradient(top, white 0%, #E6E6E6 100%);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid darkgray;
  white-space: nowrap; 
}

#mobile-wrapper {
  margin: 0px auto;
  padding: 6px;
  background-color: #FFE394;
  min-width: 468px;
  max-width: 468px;
  width: 468px;
  min-height: 468px;
  border-radius: 6px;
}

#mobile-header {
  position: relative;
  margin: 6px 0px;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  /* background-image: url('/img/pints01.png'); */
}

#mobile-header h1, #mobile-header h1 a {
  padding: 20px;
  text-align: center;
  font-size: 28px;
  /* color: White; */
}

#mobile-content {
  margin: 6px 0px;
  background-color: #FFFFE8;
  border-radius: 0px 0px 6px 6px;
}

h1, h2 {
  padding: 20px 0px;
  text-align: center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
}

.gap {
  padding-bottom: 20px;
}

.small-gap {
  padding-bottom: 10px;
}

.msg * {
  /* padding: 10px 0px; */
  /* background-color: Blue; */
  color: Red;
  font-weight: bold;
}

/* tr:nth-child(even) {
  background-color: LightGray;
}

tr:nth-child(odd) {
  background-color: LightBlue;
} */
