/* CSS for all width's */

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.woff');
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
  font-family: Helvetica, 'Open Sans';
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #395858;
}

body {
  background-color: White;
  height: auto;
}

#mobile-wrapper {
  margin: 0px auto;
  padding: 6px;
  min-width: 468px;
  max-width: 468px;
  width: 468px;
  border-radius: 6px;
  background-color: #FFE394;
}

#mobile-header {
  margin: 6px 0px;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  /* background-image: url('/img/pints01.png'); */
}

#mobile-header h1, #mobile-header h1 a {
  padding: 10px;
  text-align: center;
  font-size: 28px;
}

#mobile-content {
  margin: 6px 0px;
  background-color: #FFFFE8;
  border-radius: 0px 0px 6px 6px;
}

#mobile-nav, #mobile-nav ul {
  background-color: inherit;
}

#mobile-nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #999;
}

#mobile-nav li {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 5px 15px 0px 5px;
  border: 1px solid #999;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  background-color: #ffffcc;
  border-radius: 8px 8px 0px 0px;
}

#mobile-nav li.selected {
  padding-bottom: 4px;
  margin-bottom: -1px;
  border: 1px solid #999;
  border-bottom: 2px solid #FFFFE8;
  background-color: inherit;
}

h1, h2 {
  padding: 10px 0px;
  text-align: center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

a, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
}

.gap {
  padding-bottom: 20px;
}

.small-gap {
  padding-bottom: 10px;
}

.msg * {
  /* padding: 10px 0px; */
  /* background-color: Blue; */
  color: Red;
  font-weight: bold;
}

/* tr:nth-child(even) {
  background-color: LightGray;
}

tr:nth-child(odd) {
  background-color: LightBlue;
} */
